main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

/* Ogólny układ formularza */
form {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

/* Nagłówki sekcji */
.section-title {
    font-size: 1.2em;
    font-weight: bold;
    grid-column: 1 / 3; /* Rozciągnij nagłówek na całą szerokość */
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Pola etykiet */
label {
    text-align: right;
    padding-right: 10px;
    font-size: 1em;
    font-weight: bold;
}

/* Pola wejściowe */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

/* Przycisk */
input[type="submit"] {
    grid-column: 1 / 3; /* Rozciągnij przycisk na całą szerokość */
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Komunikaty */
.success, .error, .info {
    font-size: 0.9em;
    margin-top: 5px;
    grid-column: 1 / 3; /* Komunikaty na całą szerokość */
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}

.line{
    display: block;
    width: 70%;
    height: 0.1em;
    background-color: #344966;
    margin: 10px;
    padding: auto;
}

h1 #history-order{
    font-family: 'JainiPurva', sans-serif;;
    font-size: 3em;
    color: #344966;
}

@media (min-width: 800px) {
    main{
        flex-direction: row;    
        width: auto;
        height: 85vh;
    }
    form {
        width: 50%;
    }
    .line{
        width: 0.1em;
        height: 70%;
    }

}